.logo {
    width: 120px;
    height: 120px;
    background: white;
    color: #0f172a;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}