.logo {
    width: 120px;
    height: 120px;
    background: white;
    color: #0f172a;
    font-size: 40px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    font-size: 30px;
    margin: 0 10px;
    color: #0f172a;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #2563eb;
    transform: scale(1.2);
}
